<p>
	<%= link_to 'Editar credenciales', edit_user_path %>
</p>
<p>
	<%= link_to 'Depositos', deposits_path %>
</p>
<p>
	<%= link_to 'Retiros', withdrawals_path %>
</p>
<p>
	<%= link_to 'Estadisticas', statistics_path %>
</p>