<% @page_title = "Login" %>
<div class="wrapper">
	<div class= "form-signin">
		<h2 class="form-signin-heading">Iniciar Sesion</h2>
		<%= form_tag(:action => 'login_attempt') do %>
		<p>Usuario:</br> <%= text_field_tag :username, nil, class: 'form-control' %></p>
		<p>Contraseña:</br> <%= password_field_tag :login_password, nil, class: 'form-control' %></p>
		<%= button_tag "Iniciar Sesion", class: "btn btn-lg btn-primary btn-block" %>
		<% end %>
	</div>
</div>